/* Code written by Sam Collins (@smcllns) of www.eventasaur.us */
/* You are free to use this work commercially */
/* You are free to extend this work without permissions from the author (just do so tastefully eh?) */
/* Enjoy */

/* If you want to change the size of these buttons, tweak font-size and line-heights of the .zocial class */

/*Button Structure*/
.zocial {
	border: 1px solid rgba(0,0,0,0.2);
	border-bottom-color: rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0 0.0625em 0 rgba(255,255,255,0.4), inset 0 0 0.0625em rgba(255,255,255,0.6), 0 0.0625em 0 rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 0.0625em 0 rgba(255,255,255,0.4), inset 0 0 0.0625em rgba(255,255,255,0.6), 0 0.0625em 0 rgba(255,255,255,0.3);
	box-shadow: inset 0 0.0625em 0 rgba(255,255,255,0.4), inset 0 0 0.0625em rgba(255,255,255,0.6), 0 0.0625em 0 rgba(255,255,255,0.3);
	color: #fff !important;
	cursor: pointer;
	font-family: "Lucida Grande", Tahoma, sans-serif;
	font-size: 1em;
	line-height: 1.6em;
	letter-spacing: 0;
	padding: 0;
	position: relative;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	display: inline-block;
}

.zocial > span:before {
	border-right: 0.075em solid rgba(0,0,0,0.1);
	-moz-box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
	-webkit-box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
	box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
	content: "";
	display: block;
	float: left;
	font-family: "zocial";
	font-size: 1.25em;
	font-style: normal;
	font-weight: normal;
	margin: 0.1em 0.5em 0 0;
	text-align: center;
	padding: 0 0.5em;
}
.zocial > span {
	display: block;
	font-size: 80%;
	font-weight: bold;
	padding: 0em 1em 0 0;
	white-space: nowrap;
	position: relative;
	z-index: 100;
}

.zocial,
.zocial > span {
	-moz-border-radius: 0.2em;
	-o-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	border-radius: 0.2em;
	position: relative;
	z-index: 100;
}

/*Gradients*/
.zocial > span {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.1)), color-stop(49%, rgba(255,255,255,0.05)), color-stop(51%, rgba(0,0,0,0.05)), to(rgba(0,0,0,0.1)));
	background: -moz-linear-gradient(top, rgba(255,255,255,0.1), rgba(255,255,255,0.05) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.1));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.1), rgba(255,255,255,0.05) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.1));
	background: linear-gradient(top, rgba(255,255,255,0.1), rgba(255,255,255,0.05) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.1));
}

.zocial:hover > span, .zocial:focus > span {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.15)), color-stop(49%, rgba(255,255,255,0.15)), color-stop(51%, rgba(0,0,0,0.1)), to(rgba(0,0,0,0.15)));
	background: -moz-linear-gradient(top, rgba(255,255,255,0.15), rgba(255,255,255,0.15) 49%, rgba(0,0,0,0.1) 51%, rgba(0,0,0,0.15));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.15), rgba(255,255,255,0.15) 49%, rgba(0,0,0,0.1) 51%, rgba(0,0,0,0.15));
	background: linear-gradient(top, rgba(255,255,255,0.15), rgba(255,255,255,0.15) 49%, rgba(0,0,0,0.1) 51%, rgba(0,0,0,0.15));
}

.zocial:active > span {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.1)), color-stop(30%, rgba(255,255,255,0)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,0.1)));
	background: -moz-linear-gradient(bottom, rgba(255,255,255,0.1), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,0.1), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
	background: linear-gradient(bottom, rgba(255,255,255,0.1), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
}

/*Adjustments for light background buttons*/
.zocial.plancast, .zocial.posterous, .zocial.dropbox, .zocial.openid, .zocial.instapaper,
.zocial.github, .zocial.wikipedia, .zocial.cloudapp, .zocial.gmail {
	text-shadow: 0 1px 0 rgba(255,255,255,0.8) !important;
	-moz-box-shadow: inset 0 0.0625em 0 rgba(255,255,255,0.4), inset 0 0 0.0625em rgba(255,255,255,0.6), 0 0.0625em 0 rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 0.0625em 0 rgba(255,255,255,0.4), inset 0 0 0.0625em rgba(255,255,255,0.6), 0 0.0625em 0 rgba(255,255,255,0.3);
	box-shadow: inset 0 0.0625em 0 rgba(255,255,255,0.4), inset 0 0 0.0625em rgba(255,255,255,0.6), 0 0.0625em 0 rgba(255,255,255,0.3);
}

/*:hover adjustments for light background buttons*/
.zocial.plancast:hover > span, .zocial.posterous:hover > span, .zocial.dropbox:hover > span, .zocial.openid:hover > span, .zocial.instapaper:hover > span, .zocial.github:hover > span, .zocial.wikipedia:hover > span, .zocial.gmail:hover > span, .zocial.plancast:focus > span, .zocial.twitter:focus > span, .zocial.posterous:focus > span, .zocial.dropbox:focus > span, .zocial.openid:focus > span, .zocial.instapaper:focus > span, .zocial.github:focus > span, .zocial.wikipedia:focus > span, .zocial.gmail:focus > span {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.5)), color-stop(49%, rgba(255,255,255,0.2)), color-stop(51%, rgba(0,0,0,0.05)), to(rgba(0,0,0,0.15)));
	background: -moz-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
	background: linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
}

/*:active adjustments for light background buttons*/
.zocial.plancast:active > span, .zocial.posterous:active > span, .zocial.dropbox:active > span, .zocial.openid:active > span, .zocial.instapaper:active > span, .zocial.github:active > span, .zocial.wikipedia:active > span, .zocial.gmail:active > span {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), color-stop(30%, rgba(255,255,255,0)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,0.1)));
	background: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
	background: linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
}

/*Button icon*/
.zocial.facebook > span:before {content: "f";}
.zocial.twitter > span:before {content: "T";}
.zocial.google > span:before {content: "G";}
.zocial.linkedin > span:before {content: "L";}
.zocial.meetup > span:before {content: "M";}
.zocial.plancast > span:before {content: "P";}
.zocial.soundcloud > span:before {content: "s";}
.zocial.tumblr > span:before {content: "t";}
.zocial.dribbble > span:before {content: "D";}
.zocial.forrst > span:before {content: ":"; color: #50894F;}
.zocial.dropbox > span:before {content: "d"; color: #1F75CC;}
.zocial.posterous > span:before {content: "~";}
.zocial.flattr > span:before {content: "%";}
.zocial.spotify > span:before {content: "=";}
.zocial.foursquare > span:before {content: "4";}
.zocial.intensedebate > span:before {content: "{";}
.zocial.wordpress > span:before {content: "w";}
.zocial.smashing > span:before {content: "*";}
.zocial.yahoo > span:before {content: "Y";}
.zocial.openid > span:before {content: "o"; color: #FF921D;}
.zocial.guest > span:before {content: "?";}
.zocial.instapaper > span:before {content: "I";}
.zocial.android > span:before {content: "&";}
.zocial.itunes > span:before {content: "A";}
.zocial.paypal > span:before {content: "$";}
.zocial.appstore > span:before {content: "^";}
.zocial.creativecommons > span:before {content: "C";}
.zocial.disqus > span:before {content: "Q";}
.zocial.github > span:before {content: "g";}
.zocial.eventasaurus > span:before {content: "v";}
.zocial.eventbrite > span:before {content: "|";}
.zocial.chrome > span:before {content: "[";}
.zocial.html5 > span:before {content: "5";}
.zocial.songkick > span:before {content: "k";}
.zocial.vimeo > span:before {content: "V";}
.zocial.youtube > span:before {content: "U";}
.zocial.gowalla > span:before {content: "@";}
.zocial.skype > span:before {content: "S";}
.zocial.aol > span:before {content: "\"";}
.zocial.wikipedia > span:before {content: ",";}
.zocial.rss > span:before {content: "R";}
.zocial.yelp > span:before {content: "y";}
.zocial.evernote > span:before {content: "E";}
.zocial.ie > span:before {content: "6";}
.zocial.cloudapp > span:before {content: "c";}
.zocial.gmail > span:before {content: "m"; color: #ff0000;}
.zocial.amazon > span:before {content: "a";}
.zocial.lastfm > span:before {content: "l";}
.zocial.googleplus > span:before {content: "+";}

/*Main button area*/
.zocial.openid {background: #f5f5f5; color: #333 !important;}
.zocial.guest {background: #1B4D6D;}
.zocial.instapaper {color: #222 !important; background: #eee;}
.zocial.android {background: #A4C639;}
.zocial.itunes {background: #222;}
.zocial.paypal { background: #FF921D; color: #032751 !important; text-shadow: 0 1px 0 rgba(255,255,255,0.5);}
.zocial.appstore {background: #007DCB !important}
.zocial.creativecommons {background: #000;}
.zocial.disqus {background: #216892;}
.zocial.github {color: #050505 !important; background: #FBFBFB;}
.zocial.gowalla {background: #FF720A;}
.zocial.skype {background: #00A2ED;}
.zocial.aol {background: #FF0000;}
.zocial.wikipedia {background: #fff; color: #000 !important;}
.zocial.rss {background: #FF7F25;}
.zocial.yelp {background: #E60010;}
.zocial.scribd > span:before {content: "}"; color: #00D5EA !important;}
.zocial.scribd {background: #231C1A;}
.zocial.eventasaurus {background: #8CCC33;}
.zocial.eventbrite {background: #FF5616;}
.zocial.chrome {background: #006CD4;}
.zocial.html5 {background: #FF3617;}
.zocial.songkick {background: #FF0050;}
.zocial.vimeo {background: #00A2CD;}
.zocial.youtube {background: #FF0000;}
.zocial.yahoo {background: #A200C2;}
.zocial.intensedebate {background: #0099E1;}
.zocial.smashing {background: #FF4F27;}
.zocial.wordpress {background: #464646;}
.zocial.facebook {background: #4863AE;}
.zocial.linkedin {background: #0083A8;}
.zocial.twitter {background: #46C0FB;}
.zocial.google {background: #4E6CF7;}
.zocial.meetup {background: #FF0026;}
.zocial.plancast {background: #E7EBED; color: #333 !important;}
.zocial.soundcloud {background: #FF4500;}
.zocial.tumblr {background: #374a61;}
.zocial.foursquare {background: #44A8E0;}
.zocial.dribbble {background: #ea4c89;}
.zocial.forrst {background: #1E360D;}
.zocial.dropbox {background: #FFF; color: #312c2a !important;}
.zocial.posterous {background: #FFD959; color: #BC7134 !important;}
.zocial.flattr {background: #8ABA42;}
.zocial.spotify {background: #60AF00;}
.zocial.evernote {background: #6BB130; color: #fff !important;}
.zocial.ie {background: #00A1D9;}
.zocial.cloudapp {background: #fff; color: #312c2a !important;}
.zocial.gmail {background: #efefef; color: #222 !important;}
.zocial.amazon {background: #FFAD1D; color: #030037 !important; text-shadow: 0 1px 0 rgba(255,255,255,0.5);}
.zocial.lastfm {background: #dc1a23;}
.zocial.googleplus {background: #282626;}
.zocial.googleplus:before {
	content: "";
	font-family: "zocial";
	display: block;
	height: 0.2em;
	margin-bottom: -0.1em;
	width: 100%;
	position: relative;
	left: 0em;
	top: 0;
	background: -webkit-gradient(linear, left top, right top, from(#D20E1B), color-stop(25%, #D20E1B), color-stop(25%, #3156E6), color-stop(50%, #3156E6), color-stop(50%, #2AA134), color-stop(75%, #2AA134), color-stop(75%, #ECB01B), to(#ECB01B));
	background: -moz-linear-gradient(left, #D20E1B, #D20E1B 25%, #3156E6 25%, #3156E6 50%, #2AA134 50%, #2AA134 75%,#ECB01B 75%, #ECB01B);
	background: -webkit-linear-gradient(left, #D20E1B, #D20E1B 25%, #3156E6 25%, #3156E6 50%, #2AA134 50%, #2AA134 75%,#ECB01B 75%, #ECB01B);
	background: linear-gradient(left, #D20E1B, #D20E1B 25%, #3156E6 25%, #3156E6 50%, #2AA134 50%, #2AA134 75%,#ECB01B 75%, #ECB01B);
	border-radius: 0.2em 0.2em 0 0;
	z-index: 0;
	border-bottom: 1px solid rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0 0.0625em 0 rgba(255,255,255,0.4),
	inset 0 0 0.0625em rgba(255,255,255,0.6),
	0 0.0625em 0 rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 0.0625em 0 rgba(255,255,255,0.4),
	inset 0 0 0.0625em rgba(255,255,255,0.6),
	0 0.0625em 0 rgba(255,255,255,0.3);
	box-shadow: inset 0 0.0625em 0 rgba(255,255,255,0.4), 
	inset 0 0 0.0625em rgba(255,255,255,0.6), 
	0 0.0625em 0 rgba(255,255,255,0.3);
}

/*Vector Icons*/
@font-face {
	font-family: 'zocial';
	src: url('../type/zocial-regular-webfont.eot');
	src: url('../type/zocial-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../type/zocial-regular-webfont.woff') format('woff'),
	url('../type/zocial-regular-webfont.ttf') format('truetype'),
	url('../type/zocial-regular-webfont.svg#ZocialRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*Misc*/
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
.zocial:active {
	outline: none; /* outline is visible on :focus */
}

/*These buttons can be displayed as standalone icons if you also add a class of "icon"*/
.zocial.icon {
	width: 1.85em;
	overflow: hidden;
}
.zocial.icon > span:before {
	width: 1.85em;
	padding: 0;
}